<div class="space-y-6">
  <div class="box-container">
    <label for="" class="text-xs">Correo electrónico</label>
    <input type="text" class="input" placeholder="Ingresa tu correo electrónico" />
  </div>
  <div class="box-container">
    <label for="" class="text-xs">Correo electrónico</label>
    <input type="text" class="input" placeholder="Ingresa tu correo electrónico" />
  </div>
  <div class="box-container">
    <label for="" class="text-xs">Contraseña</label>
    <input type="password" class="input" placeholder="Ingresa tu contraseña" />
  </div>
</div>
<div class="pt-10">
  <button class="bg-[#EAFF6A] text-[#1F2023]/80 py-2 w-[30rem] rounded-md shadow-md">Iniciar Sesion</button>
</div>
