<div
  class="h-screen w-64 p-2 bg-gray-800 text-white font-semibold space-y-4 flex flex-col justify-between"
>
  <div class="space-y-4">
    <div class="flex items-center gap-x-2 justify-center">
      <span
        class="fa-brands fa-angular text-red-800 h-12 bg-white rounded-full p-1"
      ></span>
      <p class="text-sm">Angular + Redux + Tailwind</p>
    </div>
    <hr class="border-b border-gray-300 my-2" />

    <div class="flex gap-x-2 items-center">
      <img src="" alt="foto-perfil" height="32" width="32" class="text-xs" />
      <div class="flex flex-col text-xs">
        <p>Fernando Palli</p>
        <small class="text-gray-300">Administrador</small>
      </div>
    </div>
    <div class="px-1">
      <ul class="space-y-2">
          <li><a class="px-2 block rounded-sm" routerLinkActive="bg-amber-600" [routerLinkActiveOptions]="{ exact: true }"  routerLink="/dashboard">Dashboard</a></li>
          <li><a class="px-2 block rounded-sm" routerLinkActive="bg-amber-600" routerLink="/dashboard/users">Usuarios</a></li>
      </ul>
    </div>
  </div>

  <div class="pb-5">
    <button
      class="w-full bg-red-800 rounded-sm shadow-md text-gray-400 font-bold py-1"
      routerLink="/auth/login"
    >
      Cerrar Sesión
    </button>
  </div>
</div>
