
.loadership_MTDKH {
  display: flex;
  position: relative;
  width: 123px;
  height: 42px;
}

.loadership_MTDKH div {
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #747272;
  animation: loadership_MTDKH_wave alternate 1.16s infinite;
  animation-timing-function: cubic-bezier(.56,-0.01,.48,1);
}

.loadership_MTDKH div:nth-child(1) {
      animation-delay: 0.00s;
      left: 0px;
  }
.loadership_MTDKH div:nth-child(2) {
      animation-delay: 0.12s;
      left: 13px;
  }
.loadership_MTDKH div:nth-child(3) {
      animation-delay: 0.23s;
      left: 26px;
  }
.loadership_MTDKH div:nth-child(4) {
      animation-delay: 0.35s;
      left: 39px;
  }
.loadership_MTDKH div:nth-child(5) {
      animation-delay: 0.46s;
      left: 52px;
  }
.loadership_MTDKH div:nth-child(6) {
      animation-delay: 0.58s;
      left: 65px;
  }
.loadership_MTDKH div:nth-child(7) {
      animation-delay: 0.70s;
      left: 78px;
  }
.loadership_MTDKH div:nth-child(8) {
      animation-delay: 0.81s;
      left: 91px;
  }
.loadership_MTDKH div:nth-child(9) {
      animation-delay: 0.93s;
      left: 104px;
  }
.loadership_MTDKH div:nth-child(10) {
      animation-delay: 1.04s;
      left: 117px;
  }


@keyframes loadership_MTDKH_wave {
  0%, 100% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(36px);
  }
}
