<main class="w-full h-full overflow-auto text-gray-300 font-semibold">
  <div class="flex justify-center">
    <div class="h-auto rounded-md shadow-md w-1/2 bg-black/20 p-6">
      <h1 class="text-2xl font-black">Usuarios</h1>
      <div>
        <table class="w-full mt-5 table-auto">
          <thead class="bg-[rgb(8,8,8)] text-gray-200">
            <tr>
              <th class="p-2">Apellido y Nombre</th>
              <th class="p-2">Rol</th>
              <th class="p-2">Estado</th>
              <th class="p-2">Ultima conexion</th>
              <th class="p-2">Cursos Anotados</th>
              <th class="p-2">Informacion</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b text-center">
              <td class="p-3 text-lg">Juan Perez</td>
              <td class="p-2">Alumno</td>
              <td class="p-2">Activo</td>
              <td class="p-2">12/12/2021</td>
              <td class="p-2">3</td>
              <td class="p-2 flex gap-x-2">
                <button class="bg-gray-800 text-white p-1 rounded-md" routerLink="/usuarios/informacion/asd">Ver</button>
                @if (true) {
                  <button class="bg-green-800 text-white p-1 rounded-md">Editar</button>
                }
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
